@use "./base.scss";

// put your custom CSS here!
.content-meta {
  font-style: italic;
}

.content > li {
  font-size: 1.25rem;
  margin-bottom: 0.25em;
}

.folder-container,
.folder-title {
  font-size: 1.25rem;
}
